.Card {
  width: auto;
  margin: auto 1rem;
}

.ImageWrapper {
  padding-top: 153px;
  background-repeat: no-repeat;
  background-size: cover;
}

.Content {
  position: relative;
  background-color: white;
  color: #0c2539;
  font-family: var(--secondary-font);
  padding: 2rem;
  text-align: left;
}

.Content:before {
  content: "";
  width: 39px;
  height: 39px;
  background-color: var(--dark-purple);
  position: absolute;
  top: -19px;
  left: -19px;
  transform: rotate(-45deg);
  z-index: 3;
}

.Content h4 {
  color: #0c2539;
  font-size: 25px;
  line-height: 23px;
  margin: 0;
}

.Content p {
  font-size: 13px;
  line-height: 24px;
}
.CommentsWrapper {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
}

.CommentsCount {
  color: #677278;
  font-family: var(--secondary-font);
  font-size: 12px;
  line-height: 24px;
  border-right: 1px solid #e5e5e5;
  padding: 1rem 1rem 1rem 2.6rem;
  position: relative;
}

.CommentsCount:before {
  content: "";
  display: block;
  background-image: url(../../assets/icons/bubble.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 17px;
  top: 1.2rem;
  left: 1.2rem;
  z-index: 1;
  position: absolute;
}

.ReadMore {
  border-left: 1px solid #e5e5e5;
  text-indent: -9999px;
  background-image: url(../../assets/icons/dots.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  display: block;
  width: 60px;
  height: 60px;
}

.Likes {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: white;
}

.Likes button {
  cursor: pointer;
  display: flex;
}

.LikesIcon {
  display: block;
  margin: 0 10px;
}
