.Header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 68px;
  z-index: 2;
  background-color: var(--primary-color);
  padding: 1rem;
  animation: slide 0.3s linear;
}

.MenuButton {
  cursor: pointer;
  margin-top: 20px;
  text-indent: -9999px;
  background-image: url(../../assets/icons/hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 25px;
  text-indent: -9999px;
}

.Link {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  transform: rotate(-90deg);
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 700;
  min-width: 200px;
  transform-origin: -40px -50px;
  letter-spacing: 1px;
  position: relative;
}
.Link:before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: -75px;
  display: block;
  background-image: url(../../assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15px;
  height: 10px;

  transform: rotate(90deg);
}

@keyframes slideFromLeft {
  0% {
    left: -68px;
  }
  100% {
    left: 0;
  }
}

@media screen and (max-width: 640px) {
  .Header {
    top: 0;
    left: 0;
    bottom: unset;
    width: 100%;
    justify-content: flex-end;
    animation: none;
  }

  .MenuButton {
    margin-top: 0px;
  }
}
